<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReliaRate</title>
    <link rel="stylesheet" href="css/landing.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="images/reliarate-canva_processed.png" alt="ReliaRate Logo">
        </div>
        <nav>
            <ul>
                <li><a href="#signin" class="button">Sign In</a></li>
            </ul>
        </nav>
    </header>    
    <footer>
        <p>© 2025 ReliaRate, Inc. | A Partner of PNC Bank</p>
    </footer>
</body>
</html>