<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReliaRate</title>
    <link rel="stylesheet" href="css/landing.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="images/reliarate-canva_processed.png" alt="ReliaRate Logo">
        </div>
        <nav>
            <ul>
                <li><a href="#signin" class="button">Sign In</a></li>
            </ul>
        </nav>
    </header>    
    <main>
        <section class="hero">
            <div class="hero-overlay"></div> <!-- Overlay addition -->
            <div class="hero-content">
                <div class="hero-image">
                    <!-- Phone image -->
                    <img src="images/4,5_processed.png" alt="Phone Frame" class="phone-frame">
                </div>
                <div class="hero-text">
                    <h1>Empower Your <br> Gig Economy Earnings</h1>
                    <h3><strong>Optimize your financial profile, no matter how you earn.</strong></h3>
                    <p>Whether you drive, deliver, or freelance, ReliaRate adapts to your unique financial rhythm.</p>
                    <p>Boost your loan eligibility instantly, even with variable income. Start for free, no credit card needed.</p>
                    <br><br>
                    <a href="/form" class="button big-button">Improve Your Loan Rates With ReliaRate</a>
                </div>                             
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3>Contact Us</h3>
                <p>Email: info@reliarate.com</p>
                <p>Phone: (801) 455-6086</p>
            </div>
            <div class="footer-section">
                <h3>Follow Us</h3>
                <div class="social-links">
                    <a href="#"><img src="images/facebook-icon.png" alt="Facebook"></a>
                    <a href="#"><img src="images/instagram-icon.png" alt="Twitter"></a>
                    <a href="#"><img src="images/linkedin-icon.png" alt="LinkedIn"></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2025 ReliaRate, Inc. | A Partner of PNC Bank</p>
        </div>
    </footer>
    
</body>
</html>
