<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <link rel="stylesheet" href="css/loading.css">
</head>
<body>
    <div class="loader-container">
        <p id="loading-label">Calculating...</p>
        
        <div class="loading-bar-container">
            <div class="loading-bar" id="total-progress-bar"></div>
        </div>
        
    </div>
    <script src="js/loading.js"></script>
</body>
</html>


