/* landing.css */
body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    padding: 0px 10px;
    background-color: #333;
    color: white;
    height: 120px;
    overflow: visible;  
}


.logo {
    flex-shrink: 0; /* Prevents the logo from resizing due to flex container constraints */
    height: 100%; /* Sets logo container to full height of the header */
    display: flex;
    align-items: center; /* Centers the logo vertically */
}

.logo img {
    height: 300px; /* Adjusts height automatically */
    width: auto; /* Adjusts width to maintain aspect ratio */
    margin-top: 40px;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: flex;
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    display: flex;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.button {
    display: inline-block;
    padding: 8px 16px; /* Original padding */
    text-decoration: none; /* Remove underline */
    color: white; /* Text color */
    background-color: #0056b3; /* Background color */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    z-index: 10;
    transition: transform 0.3s ease, background-color 0.3s ease;  /* Smooth transition for transform and background color */
}

.button:hover {
    transform: scale(1.05);  /* Slightly enlarges the button */
}

.button:active {
    background-color: #333;  /* Darker shade for the click effect */
}


.big-button {
    padding: 15px 50px; /* Larger padding for a bigger button */
    font-size: 1.25em; /* Larger font size for better visibility */
    font-weight: bold; /* Make the text bold */
    background-color: #0056b3; /* Standout color for the main action button */
    pointer-events: auto; /* Ensure the button is clickable */
    z-index: 10;
    transition: transform 0.3s ease, background-color 0.3s ease;  /* Smooth transition for transform and background color */
}


.big-button:hover {
    transform: scale(1.05);  /* Slightly enlarges the button */
}

.big-button:active {
    background-color: #333;  /* Darker shade for the click effect */
}



.hero-overlay {
    position: absolute; /* Position it relative to .hero */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent black */
    z-index: 1; /* Ensure it sits above the background but below the text */
}

.hero {
    position: relative; /* Needed to contain the absolutely positioned overlay */
    background-image: url('/images/pnc_background.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 200px 100px;
    min-height: 350px;
}

.hero-content {
    position: relative; /* Ensures content is positioned above the overlay */
    display: flex;
    width: 100%;
    align-items: center;
    z-index: 5; /* Higher z-index to make sure content appears above the overlay */
}


.hero-image {
    flex: 1; /* Allows it to grow */
    max-width: 300px; /* Restricts its maximum size */
    align-self: flex-start; /* Aligns at the start of the flex container */
    position: relative;
}

.phone-frame {
    width: 300%; /* Ensure the phone frame fills its container */
    display: block; /* Remove any bottom space/gap */
    transform: scale(2.5); /* Scale the image up by 2.5 times */
    transform-origin: top center; /* Ensure the scaling centers from the top middle */
    margin-top: -400px; /* Adjust vertical position */
    margin-left: 700px; /* Adjust horizontal position */
    z-index: -1;
    pointer-events: none;
}

.phone-screen-content {
    position: absolute; /* Absolute positioning to overlay on the phone frame */
    margin-top: -290px; /* Adjust vertical position */
    margin-left: 20px; /* Adjust horizontal position */
    object-fit: cover; /* Ensures the content covers the area without distortion */
}


.hero-text {
    flex: 3; /* Takes more space */
    color: white;
    padding: 20px; /* Adds some internal spacing */
    text-align: left; /* Aligns text to the right */
    margin-left: -150px;
}

.hero-text h1 {
    margin-top: 0;
    font-size: 60px;
}

.hero-text h2 {
    margin-top: 0;
    font-size: 40px;
}

.hero-text p {
    color: #EEE; /* Light grey for better readability */
}

.hero-text form {
    margin-top: 20px;
}

.hero-text input[type="email"] {
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.hero-text button {
    padding: 10px 20px;
    background-color: #0069AA; /* PNC Orange */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    font-size: 14px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 0 10%;
}

.footer-section {
    margin: 10px;
}

.footer-section h3 {
    color: #FFA500; /* PNC Orange */
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li a {
    color: #FFF;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #FFA500;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
}

.social-links img {
    width: 25px;
    height: 25px;
}

.footer-bottom {
    border-top: 1px solid #444;
    padding-top: 10px;
}

