/* landing.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #414E58;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 60px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-image: url('/images/pnc_background.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 200px 100px;
    min-height: 400px;
}

.hero-content {
    display: flex;
    width: 100%;
    align-items: center;
}

.hero-image {
    flex: 1; /* Allows it to grow */
    max-width: 300px; /* Restricts its maximum size */
    align-self: flex-start; /* Aligns at the start of the flex container */
    position: relative;
}

.phone-frame {
    width: 100%; /* Make the phone frame fill the container */
    display: block; /* Remove bottom space/gap */
    transform: scale(2.5); /* Scale the image up by 2.5 times */
    transform-origin: top center; /* Ensure the scaling centers from the top middle */
    margin-top: -250px;
    margin-left: 250px;
}

.phone-screen-content {
    position: absolute; /* Absolute positioning to place it over the phone frame */
    top: 15%; /* Adjust the top position to align with the phone screen's top edge */
    left: 10%; /* Adjust the left position to align with the phone screen's left edge */
    width: 80%; /* Adjust the width to fit the screen area */
    height: 70%; /* Adjust the height to fit the screen area */
    object-fit: cover; /* Cover the area without distorting the aspect ratio */
}

.hero-text {
    flex: 3; /* Takes more space */
    color: white;
    padding: 20px; /* Adds some internal spacing */
    text-align: right; /* Aligns text to the right */
    margin-right: 200px;
}

.hero-text h1 {
    margin-top: 0;
}

.hero-text p {
    color: #EEE; /* Light grey for better readability */
}

.hero-text form {
    margin-top: 20px;
}

.hero-text input[type="email"] {
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.hero-text button {
    padding: 10px 20px;
    background-color: #0069AA; /* PNC Orange */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
